<body>
  
<main id="cart_main">

<h1>Carrito:{{cart._id}}</h1>


<section class="product_container">
  {{#each cart.products}}
  <article>
    <h4>{{this.product.title}}</h4>
    <p>{{this.product.description}}</p>
    <p>precio: ${{this.product.price}}</p>
    <p>cantidad {{this.quantity}}</p>

  <a href="#">eliminar</a>
  </article>
  {{/each}}
</section>
  <button id="btn_confirmar"> confirmar compra</button>
</main>

<script src="/js/cart.js"></script>
</body>