<h1 id="h1">Productos almacenados</h1>
<ul>
    {{#each products}}
    <li class="cart_container">
        <article class="card">
            <h4>{{this.title}}</h4>
            <p>
                {{this.description}}
            </p>
            <p>$ {{this.price}}</p>

            <form class="add_frm">
                <input type="text" name="id" value="{{this._id}}" hidden="true">
                <input type="submit" value="Agregar al Carrito">
            </form>

        </article>
    </li>
    {{/each}}
    {{#if hasPrevPage}}
        <a href="/products/?page={{prevPage}}">Anterior</a>
    {{/if}}

    {{#if page}}
        {{page}}
    {{/if}}


    {{#if hasNextPage}}
        <a href="/products/?page={{nextPage}}">Siguiente</a>
    {{/if}}
</ul>




<script src="/js/products.js"></script>